
<h1><%= @cocktail.name %></h1>
<div class="container">
  <ul>
    <% @cocktail.doses.each do |dose|  %>
    <li>
      <%= dose.description %> - <%= dose.ingredient.name %>
      <%= link_to "delete", dose_path(dose), method: "delete", data: {confirm: "Are you sure?"} %>
    </li>
  <% end %>
  </ul>
</div>

<!-- Add a new dose -->
<!-- Cocktails/34 -->

<%= link_to "Add a dose!", new_cocktail_dose_path(@cocktail), class: "btn btn-primary btn-lg" %>
</div>

